<header class="grid">
  <nav class="logo col-12">
    <a href="">
      <img src="https://bib.rero.ch/static/images/logo-rero-plus.svg" />
    </a>
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        [(ngModel)]="query"
        (keyup.enter)="onEnter($event)"
      />
    </span>
  </nav>
  <nav class="col-12">
    <div class="card">
      <p-menubar [model]="items"></p-menubar>
    </div>
  </nav>
</header>

<div class="grid">
  <p-dataView #dv [value]="results">
    <ng-template let-product pTemplate="listItem">
      <div class="col-12">
        <div
          class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
        >{{product.metadata.title[0]._text}}</div>
      </div>
    </ng-template>
  </p-dataView>
  <router-outlet></router-outlet>
</div>

<hr />
<footer>copyright</footer>
